/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    border: 1px solid red;
    box-sizing: border-box;
}

.filter {
    border: 1px solid green;
    gap: 20px;
    padding: 10px 180px;
    display: flex;
}
.search{
    display: flex;
    gap: 5px;
    border: 2px solid #FECB0F;
    border-radius: 12px;
}
.search>input{
    width: 170px;
    height: 100%;
    border: none;
    
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}

.search button{
    cursor: pointer;
    width: 70px;
    height: 100%;
    border-radius:10px ;
    outline: none;
    border: none;
    background-color: #FECB0F;
    font-weight: bolder;
}

.filterBtn {
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #FECB0F;
    cursor: pointer;
    font-weight: bolder;
}

.resContainer {
    border: 1px solid yellow;
    padding: 20px 180px;
    display: flex;
    flex-wrap: wrap;

}
.resContainer>a{
    text-decoration: none;
}
 */

.resContainer{
    padding: 20px 5px;
    width: 84%;
    margin: auto;
}
.filter{
    padding: 12px 176px;
}
.search{
    width: 259px;
}
.search input{
    width: 176px;
}
.search button{
    width: 80px;
}
.filterBtn{
    font-weight: 500;
    width: 200px;
}

@media(max-width:1050px){
    .resContainer{
        padding: 20px 0px;
        width: 95%;
        margin: auto;
    }
}
@media(max-width:850px){
    .filter{
        padding: 12px 50px;
    }
}
@media(max-width:620px){
    .filter{
        flex-direction: column;
    }
    .filterBtn {
        padding: 5px;
        width: 180px;
    }
}
@media(max-width:350px){
    .filter{
        padding: 5px 10px;
    }
}
