footer{
    width: 100%;
    height: 8rem;
    background-color: rgb(255, 163, 5);
    /* position: relative;
    top: 12rem; */
    text-align: center;
    font-size: 1rem;
    color:#330708;
   }
 
   .footer_links a {
    margin: 0rem .5rem;
    color:#330708 ;
    font-size: 3rem;
   }
   .footer_links a:hover{
    color: white;
   }

   @media(max-width:600px){
    .footer_links a{
        font-size: 2rem;
    }
   }
